/*
 * 首页
 * home.css
 */
/* region 首页 */

/* region banner */
.xl1 ol > li:nth-child(odd) {
    background: var(--bg-dark1) !important;
}

.xl1 ol > li:nth-child(even) {
    background: var(--bg-dark1) !important;
}

/* endregion banner */

#wp > div:nth-child(odd):not(:nth-child(1)) {
    background: var(--bg-dark1) !important;
}

#wp > div:nth-child(even) {
    background: var(--bg-dark2) !important;
}

.subject_row_detail_text_down {
    color: var(--t-dark) !important;
}

/* endregion 首页 */