/*
 * 首页
 * home.css
 */
/* region 主题色的背景条*/
body:before {
    content: '';
    display: inline-block;
    width: 100%;
    min-width: 1200px;
    height: 500px;
    background: var(--color500);
    position: absolute;
    top: 0;
    left: 0;
}

/* endregion*/

/* region 整体 */
.wp,
#wp {
    min-width: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
}

.subject_row_detail,
.subject_row_detail2 {
    width: 17%;
    padding: 16px;
    border-radius: 3px;
}

#wp > div {
    width: 100%;
    min-width: 1200px;
    height: unset !important;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.subject_row_detail_text_down {
    color: #333333 !important;
}

/* 背景色 */
#diy1 {
    width: 1200px;
    margin: 0 auto;
}

#wp > div:nth-child(even) {
    background: #f0f0f0;
}

#wp > div:nth-child(odd) {
    background: #f7f7f7;
}

#wp > div:nth-child(2) {
    background: #f7f7f7;
}

/*#wp > div:nth-child(2) {*/
/*    background: #3f51b5;*/
/*}*/

/*#wp > div:nth-child(3) {*/
/*    background: #b3e0e1;*/
/*}*/

/*#wp > div:nth-child(4) {*/
/*    background: #3f51b5;*/
/*}*/

/*#wp > div:nth-child(5) {*/
/*    background: #fafafa;*/
/*}*/

/*#wp > div:nth-child(6) {*/
/*    background: #e91e63;*/
/*}*/

/*#wp > div:nth-child(7) {*/
/*    background: #F7f7f7;*/
/*}*/

/*#wp > div:nth-child(8) {*/
/*    background: #607d8b;*/
/*}*/

/* 分区标题 */
.index_subject_title div,
.index_subject_title2 div {
    float: unset;
    width: 300px;
    height: 100px;
    font-size: 20px;
    left: calc((100% - 300px) / 2);

    top: unset;
    right: unset;
    bottom: unset;
    padding: unset;
    background-color: unset;
}

/* 分区居中 */
.index_subject_row,
.index_subject_row2 {
    position: static;
    top: auto;
    width: 1200px;
    margin: 0 auto;
}

.subject_row_detail,
.subject_row_detail2,
.index_middle_subject div,
.index_foot_subjec div {
    margin-left: 0 !important;
}

/* endregion 整体 */

/* region hover 浮动效果*/
#frameCX66dD {
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

    transition: all .2s ease-in-out;
}

.index_navi_left,
.index_navigation_mid.bliz_ai_h,
.index_navi_right,
    /*#frameCX66dD,*/
.subject_row_detail,
.subject_row_detail2,
.index_middle_subject.clearfix > div,
.index_foot_subject.clearfix > div {
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.4, 0, .2, 1);
    transition: -webkit-box-shadow .25s cubic-bezier(.4, 0, .2, 1);
    transition: box-shadow .25s cubic-bezier(.4, 0, .2, 1);
    transition: box-shadow .25s cubic-bezier(.4, 0, .2, 1), -webkit-box-shadow .25s cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
}

.index_navi_left:focus,
.index_navigation_mid.bliz_ai_h:focus,
.index_navi_right:focus,
#frameCX66dD:focus,
.subject_row_detail:focus,
.subject_row_detail2:focus,
.index_middle_subject.clearfix > div:focus,
.index_foot_subject.clearfix > div:focus,
.index_navi_left:hover,
.index_navigation_mid.bliz_ai_h:hover,
.index_navi_right:hover,
#frameCX66dD:hover,
.subject_row_detail:hover,
.subject_row_detail2:hover,
.index_middle_subject.clearfix > div:hover,
.index_foot_subject.clearfix > div:hover {
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

/* endregion*/

/* region 文字下划线*/
.subject_row_detail_text_up a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
    outline: 0;
}

.subject_row_detail_text_up a:before {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: ' ';
    background-color: var(--color500);
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.subject_row_detail_text_up a:focus:before,
.subject_row_detail_text_up a:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.row_top a,
.index_navi_right a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
    outline: 0;
}

.row_top a:before,
.index_navi_right a:before {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: ' ';
    background-color: var(--white1);
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.row_top a:focus:before,
.index_navi_right a:focus:before,
.row_top a:hover:before,
.index_navi_right a:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.module.cl.xl.xl1 a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
    outline: 0;
}
.module.cl.xl.xl1 a:before {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: ' ';
    background-color: var(--color500);
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.module.cl.xl.xl1 a:focus:before,
.module.cl.xl.xl1 a:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#wp > div:nth-child(3) .subject_row_detail_text_up a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
    outline: 0;
}

#wp > div:nth-child(3) .subject_row_detail_text_up a:before {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: ' ';
    background-color: #009688;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#wp > div:nth-child(3) .subject_row_detail_text_up a:focus:before,
#wp > div:nth-child(3) .subject_row_detail_text_up a:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#wp > div:nth-child(4) .subject_row_detail_text_up a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
    outline: 0;
}

#wp > div:nth-child(4) .subject_row_detail_text_up a:before {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: ' ';
    background-color: #f06292;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#wp > div:nth-child(4) .subject_row_detail_text_up a:focus:before,
#wp > div:nth-child(4) .subject_row_detail_text_up a:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#wp > div:nth-child(5) .subject_row_detail_text_up a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
    outline: 0;
}

#wp > div:nth-child(5) .subject_row_detail_text_up a:before {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: ' ';
    background-color: #ffc107;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#wp > div:nth-child(5) .subject_row_detail_text_up a:focus:before,
#wp > div:nth-child(5) .subject_row_detail_text_up a:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#wp > div:nth-child(6) .subject_row_detail_text_up a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
    outline: 0;
}

#wp > div:nth-child(6) .subject_row_detail_text_up a:before {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: ' ';
    background-color: #3949ab;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#wp > div:nth-child(6) .subject_row_detail_text_up a:focus:before,
#wp > div:nth-child(6) .subject_row_detail_text_up a:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#wp > div:nth-child(7) > div:nth-child(1) a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
    outline: 0;
}

#wp > div:nth-child(7) > div:nth-child(1) a:before {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: ' ';
    background-color: #900;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#wp > div:nth-child(7) > div:nth-child(1) a:focus:before,
#wp > div:nth-child(7) > div:nth-child(1) a:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#wp > div:nth-child(7) > div:nth-child(2) a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
    outline: 0;
}

#wp > div:nth-child(7) > div:nth-child(2) a:before {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: ' ';
    background-color: #f41645;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#wp > div:nth-child(7) > div:nth-child(2) a:focus:before,
#wp > div:nth-child(7) > div:nth-child(2) a:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#wp > div:nth-child(7) > div:nth-child(3) a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
    outline: 0;
}

#wp > div:nth-child(7) > div:nth-child(3) a:before {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: ' ';
    background-color: #f49d36;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#wp > div:nth-child(7) > div:nth-child(3) a:focus:before,
#wp > div:nth-child(7) > div:nth-child(3) a:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#wp > div:nth-child(8) a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
    outline: 0;
}

#wp > div:nth-child(8) a:before {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: ' ';
    background-color: #01579b;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#wp > div:nth-child(8) a:focus:before,
#wp > div:nth-child(8) a:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.bbs_daily_stats a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
    outline: 0;
}

.bbs_daily_stats a:before {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: ' ';
    background-color: #b3e5fc;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bbs_daily_stats a:focus:before,
.bbs_daily_stats a:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.subforunm_foot_banner a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
    outline: 0;
}

.subforunm_foot_banner a:before {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: ' ';
    background-color: white;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.subforunm_foot_banner a:focus:before,
.subforunm_foot_banner a:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/* endregion*/

/* region 0.关注重点 & 小广告 & 站点公告*/
.floatcontainer.doc_header.wp.cl {
    /*background: var(--color500);*/
    padding: 30px 0;
}

.index_navi_left,
.index_navi_right,
.blue_dot,
.floatcontainer.doc_header.wp.cl .dot {
    background: unset;
}

.index_navigation_mid.bliz_ai_h {
    background: transparent;
}

.index_navigation_mid.bliz_ai_h img {
    border-radius: 5px;
}

/* endregion 0.关注重点 & 站点公告*/

/* region 1.轮播图和tab */
/* 布局 */
.slideshow li,
.slideshow img {
    width: 544px !important;
    height: 370px !important;
}

.frame-1-1-r {
    width: auto;
    float: right;
}

.bbs_top {
    height: 371px;
}

.module.cl.xl.xl1 a {
    font-size: 9px;
    max-width: 450px;
}

.frame-tab .xl1 li {
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
}

.frame-tab .tb li a {
    font-size: 14px;
}

.index_navi {
    padding-top: 50px;
}

.index_navi a {
    color: var(--white1);
}

/* tab */
#tabPAhn0P_content,
#tabPAhn0P_content * {
    background: unset;
    margin: 0;
}

.tab-title {
    background: none;
}

.xl ol > li {
    margin: 0;
}

.frame-tab .tb-c {
    padding: 0;
}

.xl ol > li:hover {
    background: #EBEBEB;
    transition: all .25s cubic-bezier(.4, 0, .2, 1);
}

ul.tb.cl > li {
    background: var(--color500);
    color: white;
    transition: all .25s cubic-bezier(.4, 0, .2, 1);
}

ul.tb.cl > li:hover {
    background: var(--color700);
}

ul.tb.cl > li a {
    color: var(--color300);
}

.frame-tab .tb li.a a {
    color: white;
    background: none;
}

.xl1 ol > li:nth-child(even) {
    background-color: #fafafa !important;
}

.xl1 ol > li:nth-child(odd) {
    background-color: #ECEFF1 !important;
}


#diy1 span.title {
    background: var(--color500) !important;
    height: 46px !important;
    line-height: 46px !important;
}

#diy1 .slidebar {
    top: unset !important;
    left: unset !important;
    bottom: 53px !important;
    right: -107px;
}

/*tab 主题名字过长导致超出 tab外框*/
.module.cl.xl.xl1 ol li a[title] {
    max-width:380px;
    display: inline-block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

/* 适配预览帖子滚动 */
.frame-tab .xl {
    overflow: hidden;
    height: 324px;
    padding-right: 0 !important;
    transition: all .2s;
}
.frame-tab .xl.cl:after{
    display:none;
}
.frame-tab .xl::-webkit-scrollbar-thumb {
    background-color: var(--colorA200);
}

    /* endregion 1.轮播图和tab */

/* region 2.平台周边 */
#wp > div:nth-child(3) .index_subject_title > div {
    color: #009688 !important;
    font-weight: bold;
}

#wp > div:nth-child(3) .forum-icon.hot,
#wp > div:nth-child(3) .forum-icon {
    background: #009688;
}

#wp > div:nth-child(3) .subject_row_detail_text_up a {
    color: #009688;
}

#wp > div:nth-child(3) .forum_today_post {
    color: #004D40;
}

/* endregion 2.平台周边 */

/* region 3.问题互助 */
#wp > div:nth-child(4) .index_subject_title2 > div {
    color: #f06292 !important;
    font-weight: bold;
}

#wp > div:nth-child(4) .forum-icon.hot,
#wp > div:nth-child(4) .forum-icon {
    background: #f06292;
}

#wp > div:nth-child(4) .subject_row_detail_text_up a {
    color: #f06292;
}

#wp > div:nth-child(4) .forum_today_post {
    color: #e91e63;
}

#wp > div:nth-child(4) .subject_row_detail_text_down {
    color: #9ca6d9;
}

/* endregion 3.问题互助 */

/* region 4.友商平台 */
#wp > div:nth-child(5) .index_subject_title > div {
    color: #ffc107 !important;
    font-weight: bold;
}

#wp > div:nth-child(5) .forum-icon.hot,
#wp > div:nth-child(5) .forum-icon {
    background: #ffc107;
}

#wp > div:nth-child(5) .subject_row_detail_text_up a {
    color: #ffc107;
}

#wp > div:nth-child(5) .forum_today_post {
    color: #ffa000;
}

/* endregion 4.友商平台 */

/* region 5.游戏讨论 */
#wp > div:nth-child(6) .index_subject_title > div {
    color: #3949ab !important;
    font-weight: bold;
}

#wp > div:nth-child(6) .forum-icon.hot,
#wp > div:nth-child(6) .forum-icon {
    background: #3949ab;
}

#wp > div:nth-child(6) .subject_row_detail_text_up a {
    color: #3949ab;
}

#wp > div:nth-child(6) .forum_today_post {
    color: #0d47a1;
}

#wp > div:nth-child(6) .subject_row_detail_text_down {
    color: #ffffff;
}

/* endregion 5.游戏讨论 */

/* region 6.汉化 */
/* 居中 */
#wp > div:nth-child(7) {
    width: calc(100% - (100% - 1200px) / 2);
    padding-left: calc((100% - 1200px) / 2);
}

#wp > div:nth-child(7) > div {
    width: calc(1200px / 3 - 20px);
    margin-top: unset;
    background: unset;
    height: unset;
}

#wp > div:nth-child(7) .middle_subject_row {
    padding-left: 20px;
}

.middle_subject_detail_right {
    font-size: 14px;
}

.middle_subject_detail_right > div:nth-child(1) {
    margin-top: 3px;
}

.middle_subject_detail_right > div:nth-child(3) {
    margin-top: -1px !important;
}

.middle_subject_detail_right a:nth-child(2) {
    padding-right: 10px;
}

/* region 天邈汉化组 */
#wp > div:nth-child(7) > div:nth-child(1) a {
    color: #900;
}

#wp > div:nth-child(7) > div:nth-child(1) .dot {
    background: #900;
}

/* endregion 天邈汉化组 */
/* region 蒹葭汉化组 */
#wp > div:nth-child(7) > div:nth-child(2) a {
    color: #f41645;
}

#wp > div:nth-child(7) > div:nth-child(2) .dot {
    background: #f41645;
}

/* endregion 蒹葭汉化组 */
/* region 起源汉化组 */
#wp > div:nth-child(7) > div:nth-child(3) a {
    color: #f49d36;
}

#wp > div:nth-child(7) > div:nth-child(3) .dot {
    background: #f49d36;
}

/* endregion 起源汉化组 */
/* endregion 6 */

/* region 7.休闲、社区 */
#wp > div:nth-child(8) {
    width: calc(100% - (100% - 1200px) / 2);
    padding-left: calc((100% - 1200px) / 2);
}

.foot_subject_left, .foot_subject_right {
    margin: 0;
    background: unset;
}

#wp > div:nth-child(8) .foot_subject_detail_right {
    font-size: 14px;
}

#wp > div:nth-child(8) .foot_subject_detail_right > div:nth-child(1) {
    margin-top: 2px !important;
}

#wp > div:nth-child(8) .foot_subject_detail_right > div:nth-child(3),
#wp > div:nth-child(8) .foot_subject_detail_right > div:nth-child(4) {
    margin-top: -1px !important;
}

#wp > div:nth-child(8) .foot_right_subject > div {
    font-size: 14px;
    padding-top: 3px;
    margin: 0 !important;
}

#wp > div:nth-child(8) .forum-icon.hot,
#wp > div:nth-child(8) .forum-icon,
#wp > div:nth-child(8) .dot {
    background: #01579b;
}

#wp > div:nth-child(8) a {
    color: #01579b;
}

/* endregion 7 */

/* region 8.人数 */
.bbs_daily_stats {
    margin-top: unset;
    background: #424242;
    color: white;
}

.bbs_daily_stats a {
    color: #b3e5fc;
}

/* endregion 8 */

/* region 9.页脚 */
.subforunm_foot_banner {
    padding-top: 30px;
    padding-bottom: 30px;
}

.subforunm_foot_bg img {
    display: none;
}

.subforunm_foot_banner,
.subforunm_foot {
    background: #212121;
    margin-top: unset;
}

.subforunm_foot_banner > div {
    width: 1200px;
}

.subforunm_foot_intro {
    display: none;
}

/* endregion 9 */
