/*
 * 导航栏
 * nav.css
 */
/* region 导航栏 */
:root {
    --nav-bg: var(--bg-dark2);
}

#nav-logo {
    background: var(--color500);
}

/* endregion 导航栏 */

/* 全局 */
body {
    background: var(--bg-dark1);
}

a {
    color: var(--t-dark);
}