/*
 * 导航栏
 * nav.css
 */
/* region 导航栏 */
#nav-menu ul li ul li a {
    color: var(--t-dark);
}

.dropdown-menu > li > a {
    color: var(--t-dark);
}

#nav-user-action-bar .divider {
    background: var(--bg-dark1) !important;
}

.dropdown-menu > li > a:hover {
    color: var(--t-dark);
}

/* endregion 导航栏 */

/* 全局 */
body {
    background: var(--bg-dark1);
}

a {
    color: var(--t-dark);
}