/*
 * 通知
 * notification.css
 */

/*region 影藏部分布局*/
.floatcontainer.doc_header.wp.cl,
#wp > #ct > .appl > .tbn > .mt.bbda {
    display: none;
}

/*endregion 影藏部分布局*/

/*region 大长条*/
#wp > .wp,
#wp.wp {
    max-width: unset;
    width: 100%;
    margin: unset;
}

#pt.bm.cl > div {
    opacity: 0;
}

#pt {
    background: var(--color-accent);
    height: 55px;
    padding: 0;
    border-bottom: unset;
    -webkit-box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

#nav-menu {
    box-shadow: unset;
}

/*endregion 大长条*/

/* region 主体*/
/* 整体布局 */
/* 内容居中 */
#ct > .mn > .bm.bw0 {
    width: 1200px;
    margin: 0 auto;
}

#ct {
    padding-top: 10px;
}

#ct .mn {
    width: calc(100% - 67px);
    padding-top: 50px;
}

#ct > .mn ul.tb.cl > li {
    float: unset;
    display: inline-block;
}

#ct > .mn ul.tb.cl {
    z-index: 1;
    position: absolute;
    top: 86px;
    left: calc(50%);
    transform: translate(-50%, -50%);
    border: unset;
    line-height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* 小标题 */
#ct > .mn ul.tb.cl > li > a {
    background: unset;
    border: unset;
    color: var(--white1);
    opacity: .8;
    font-size: 14px !important;
    padding: 0 35px;
}

#ct > .mn ul.tb.cl > li.o,
#ct > .mn ul.tb.cl > li.o > a {
    background: unset;
    margin: unset;
    box-shadow: unset !important;
    line-height: unset;
    height: unset;
    background-image: unset !important;
}

.tb .a a{
    border-bottom: 2px solid var(--white1) !important;
    opacity: 1 !important;
    font-weight: unset;
}

/* 微调列表布局 */
#deletepmform {
    margin-bottom:120px;
}

#deletepmform > .xld.xlda.pml.mtm.mbm > dl > dd.m.avt img,
.xlda .avt img {
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
}
#deletepmform > .xld.xlda.pml.mtm.mbm > dl > dd.m.avt img {
    border-radius: 50%;
}
.xlda .avt img {
    border-radius: 50%;
    margin-right:20px;
}
.xlda dl {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* region 左侧菜单 */

#ct.ct2_a, #ct {
    background: unset;
}

.appl {
    float: unset;
    overflow: unset;
    margin-bottom: unset;
    padding: unset;
}

.tbn li.a,
.tbn li:hover {
    background-color: var(--grey200);
    transition: .2s;
}

.tbn li.a a {
    color: var(--color500) !important;
}

#ct > .appl > .tbn {
    margin: unset;
}

#ct > .appl > .tbn > ul > li {
    text-align: unset;
    height: unset;
    line-height: unset;
    padding: unset;
    margin: unset;
    overflow: unset;
    width: 200px;
    padding-left: 16px;
}

#ct > .appl > .tbn > ul > li > a {
    display: unset;
    padding: unset;
    margin: unset;
    top: unset;
    color: var(--black2);
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    padding-left: 48px;
}

.notice_pm, .notice_all, .notice_mypost, .notice_interactive, .notice_system, .notice_manage, .notice_app {
    display: none;
}

#ct > .appl > .tbn > ul > li > a:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: var(--black2);
    -webkit-mask-repeat: no-repeat;
    position: absolute;
    top: 1px;
    /*     border-radius: 50%; */
}
#ct > .appl > .tbn > ul > li.a > a:before {
    background: var(--color500);
}
/* 消息 */
#ct > .appl > .tbn > ul > li:nth-child(1) > a:before {
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAUCAYAAABiS3YzAAABJ0lEQVQ4T92Ur0/FMBDH75pUkAXxJP8AS3Bbm0emeBKLwRMcDjQJD4EFhUPgEWgUoJaRrVMg+DMwiCX9ki5vZCxvvyAIONGm6d0nd9+7lmlhURStFEWxWZ3H7lLKJI7jdxfHbgmCYEMIcUtE62NhNf9Xa+1OnucvJTQMwxNmnv8AWIYCmBtjTv8w1JUghHgcKoW1dquSrrV8Zj5K0/RiKFRrfQjg/J9oSkTPAG66ym8bv1ZNAewZY667oEqpKyLab/r0zelDT6Nmy+77oEOb/8Xv96Fa6xmA+2+lVwsCsG2MuSvfvu/7q57nHTPztAFuateqNYAnKeVZkiRvJXSZKaVc5nXobpZlnaNWcYZCBwM/P+mWTC+J6ICIRgH7oGvW2on7ycc28AO7SroVuTQbsgAAAABJRU5ErkJggg==);
}

/* 全部提醒 */
#ct > .appl > .tbn > ul > li:nth-child(2) > a:before {
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA7klEQVQ4T+3UsTIEQRSF4W8fQSjflIRItC9ARk5AJlNFhIgqmcwGSkzGA3gBKxDLhWIRddXO1lSbme6xQjftc/4+dW/3HcjXMq6nsh28dFkGeZ7PRNPp6Toc4gC7CXCMC7w2hWkDnuEwk/4cR6mmCRigAJbUD2gTMJq+VELDB9bwXOlT4AiPhbBKto2bNuAxTnoCQ3/6D5x17U97uIgHrPQcygTreAtf/dncTw968r7lEWSjDoxUT78h1TyrmFQJYwFczQncw7hkffW6JweMqTfV7GeUbJu6ZhO3iWkLd22xcwkXsI8ARwXoEu9twC/NESgV2qD0YAAAAABJRU5ErkJggg==);
}

/* 我的帖子 */
#ct > .appl > .tbn > ul > li:nth-child(3) > a:before {
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAxElEQVQ4T+2UMRIBQRBF397BATYSELqAPYRAOYNUilDqABJK4gIym8sFag+jmlk1O+z6GJmumuzPm+4/8ychciU1vCHQFs8qgCNwNn0IbAF7oCfCfFkG5CFwAUw+gNmWHMhC4AHo/wI4A+YvwEtgDJjW6gTsmjq0EZqqnKRyeIyRZWDUDhUPp84/uUP1sv/Am1OpW2b0u0l56uE3kYsO7LrYXUctkzICNuo78XRbwPbey4+eeTcAOiJ4DaxCbd2PLTIfZReFbywV5K4i3wAAAABJRU5ErkJggg==);
}

/* 坛友互动 */
#ct > .appl > .tbn > ul > li:nth-child(4) > a:before {
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABfklEQVQ4T7XUv0vVYRTH8dcdAt2DpkTQW0OBg0MEQklLgQgiNV0Xh4ZwCf8AXVzEQbCWgoLApR9iSzoIEgTp4CAkmFS4qRBuwh3jwPOFh9v92r14O/Dw/XLO4X0+z3Oe81R02Cod5mkEXsEAbuMDvpUUvIlxfMUuToq8HHgN3xsA23iFF8n/GJO41ZB3HQfhy4Fv8bBE0U7yD5bE3+FRDpzAmwueZw3LhcL36UyCOZuB8//GehG7m1bEllEL4CWcpe8inmIGzzGC1yXKh1NeQMNOUQ3gfawlZxUvU9UfkZAaFQ0rrFD9GXeSs1A6HsAnSU3EArCKG9hDXI/ofKvAuQAuYDpVyre8hNE2thyITwFcwVhJI9ppSiCOAriZdeqCN0f9PGAdh2lFg8L60ZtWV5Pqx2XAdUzhZ4nkPjxLNyRP2W8GjK4O4fc/9n8ZXxBzXNhWAOMS54cfMxmz2YrF7McbUNh8MXoPcBW/sNEKKcu5hx504+N/f2DbFPd3+h/Skke4xls8kwAAAABJRU5ErkJggg==);
}

/* 系统提醒 */
#ct > .appl > .tbn > ul > li:nth-child(5) > a:before {
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABcklEQVQ4T73UPU8WURAF4IeEEho6qfwPSEOFCSBoARaYgNpCQgKRhsIGbUigwUBiAi0ICRZioXxIApWN8h+otKOBksJMcpcsl31ftjBMdTNz7tk7Z85Oi/8cLQ34HmAOV3iPy4RrwzxasYS/+f0qwrgwg44E/omNdH6NnnQ+x0r64DVvFeE3PK2pxHc8K2OrCLcwVpNwG+N3Ea5hoibhOiabEY5iJyP7hK8pN4yXWf0FPhe5cstDCE3KMYiDLPcE+1kuNN+LXEG4mGxSxh2hv0HrP9CX1d7FxAvCY/RmgFv6lOpVOp/gcTPC1eTHqkeG/6azwg3CZbzJAIcIvaoidB3ICh8wWx5K1YRfIaZcjpjyZqNJ58buwu8M/BG/Uq4bU1n9EU6rbFPkwofx2joR/gsfXse9/HpfMFLnedjF87teGOsr/uXOBIz1FTpGhH7F+vqD8Grsy6YtR/FhWqQXeJst2AW0J6KzvJNGG7tmx7dh/wDnDUAVlGdgUAAAAABJRU5ErkJggg==);
}

/* 应用提醒 */
#ct > .appl > .tbn > ul > li:nth-child(6) > a:before {
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABbUlEQVQ4T9XUsUrDUBQG4P+EDh18AsEXiDqkN13VDg4u4hv0ERz6AOrkFDG6Oqjo4iiODsUttDe3IvYFFBwEcXDokvtLhJa0Jta2Lt4lkJz7cXI59xf88ZJxnuu6c+VyuSEiaySbvV4v6Ha7H0X7fgSVUnUADQDLGeABQKC1PstDc0HP81ZEJO1qs6gTktckA2PMXbZmCKxWqwvW2rSj7XFHkfkeOo4TtFqtp/TdAPR9f4PkCYD5CbB+6SOAda31ywCsVCo7IrI7Bfa1heRuHMd7s4IRyWMRuZgVfCN5ZK0NO53Ou1KKs4Dn1toDY8x9/3imBkWk1m63m6PnPDWotc6d238Kep7nOo5zBWCxaBZHf1kptQVgH0Bira0ZY14nunp90Pf9JQCHJFfTZ6lUCqMoeh66etmuisIhBZVSpwDq6TAnSRIaY9qF4ZAzDt/ii+QtgDCO45tfx1e2MBuwAC611mmAFK6xiT1pWHwCmWzUFfqaMNcAAAAASUVORK5CYII=);
}

/* endregion 左侧菜单 */

/* region 列表 */
/* 圆形头像*/
#deletepmform > .xld.xlda.pml.mtm.mbm > dl > dd.m.avt {
    border-radius: 50%;
}

/* endregion 列表 */

/* region 页码*/
.pgb.y {
    display: none;
}

.pgs.mtm.mbm.cl {
    margin: -10px 0 0 0 !important;
    padding: unset !important;
}

.pg a, .pg strong, .pgb a, .pg label {
    background-color: transparent;
}

.pg strong {
    color: var(--white1);
    background-color: var(--color500);
}

.pg a {
    color: var(--color500);
    transition: all .2s ease-in-out;
}

.pg a:hover {
    background-color: rgba(0, 0, 0, .1);
}

.pg a:active {
    color: var(--white1);
    background-color: var(--color500);
}

.pg label {
    display: none;
}

/* region 上一页按钮*/

.pg a.prev {
    width: 32px;
    height: 32px;
    padding: 0;
    background-image: unset !important;
    background-color: transparent;
}

.pg a.prev:hover {
    background: rgba(0, 0, 0, .1);
}

.pg a.prev:active {
    background: var(--color500);
}

.pg a.prev:after {
    display: inline-block;
    content: '';
    position: relative;
    top: 3px;
    left: 7px;
    border: 4px solid;
    border-color: transparent var(--color500) var(--color500) transparent;
    transform: rotate(135deg);
}

.pg a.prev:active:after {
    border-color: transparent var(--white1) var(--white1) transparent;
}

/* endregion*/

/* region 下一页按钮*/
.pg a.nxt {
    width: 0;
    height: 32px;
    padding: 0 0 0 32px;
    position: relative;
    font-size: 0;
    overflow: hidden;
    white-space: nowrap;
    background: unset;
}

.pg a.nxt:hover {
    background: rgba(0, 0, 0, .1);
}

.pg a.nxt:active {
    background: var(--color500);
}

.pg a.nxt:after {
    display: inline-block;
    content: '';
    position: relative;
    top: 7px;
    left: -22px;
    border: 4px solid;
    border-color: transparent var(--color500) var(--color500) transparent;
    transform: rotate(-45deg);
}

.pg a.nxt:active:after {
    border-color: transparent var(--white1) var(--white1) transparent;
}

/* endregion*/

/* region 阴影*/

.pgs.mtm.mbm.cl {
    /*-webkit-box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12);*/
    /*box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12)*/
}

/* endregion*/

/* endregion*/

/*endregion 主体*/