/*
 * 通知
 * notification.css
 */
/* region 消息 */
#ct {
    color: var(--t-dark);
}

.ct2_a, .ct3_a,
.bbda,
.nts dl {
    border: unset;
}

.bm {
    background: unset;
}

.bbda:hover {
    background: var(--bg-dark2);
}

/* border: 1px solid #f7f7f7;
/* endregion 消息 */