/*
 * 帖子内容
 * post.css
 */
:root {
    --post-title-text: var(--color500);
    --post-breadcrumb-text: var(--color500);
}

/* region 帖子 */

.subforum_left_title_left_down a:nth-child(1) {
    color: var(--dark-accent);
}

.subforum_left_title_left_down a:before {
    background: var(--dark-accent);
}

/* region 字体 */
#postlist,
.ptm.pnpost + div,
.ptm.pnpost + div + label {
    color: var(--t-dark);
}

/* region 分页 */
.pgs.mtm.mbm.cl {

}

/* endregion 分页 */

/* endregion 字体 */

#postlist,
#postlist .pls {
    background: var(--bg-dark2);
}

.steam_connect_user_bar,
.pi,
.po {
    border: unset;
}

/* region 帖子*/

/*region code*/
#postlist .blockcode {
    border-radius: 5px;
    border: 1px solid var(--bg-dark1);
    background: var(--bg-dark1);
    color: var(--orange500);
}

#postlist .blockcode li:hover {
    background: var(--bg-dark1);
    color: var(--t-dark);
}

/*endregion code*/

/* region 回复间隔 */
.ad .pls,
.ad .plc {
    background: var(--bg-dark1) !important;
}

/* endregion 回复间隔 */
a[id^=postnum] {
    border-color: var(--bg-dark1) !important;
}

/* region 引用 */
.pl blockquote {
    background: var(--bg-dark1) !important;
}

.pl .quote:before {
    background: var(--bg-dark3);
}

/* endregion 引用 */

/* region 评分 */
.ratl th, .ratl td, .ratc {
    border: unset;
}

/* endregion 评分 */

/* endregion 帖子*/

/* region 分页小条条 */
.pg strong {
    /*color: var(--white1);*/
    background-color: var(--bg-dark1);
}

#f_pst form {
    border-top: 5px solid var(--bg-dark1);
}

.pg a {
    color: var(--bg-dark1);
}

.pg a:hover {
    color: var(--t-dark);
}

.pg a.nxt:after {
    border-color: transparent var(--bg-dark1) var(--bg-dark1) transparent;
}

.pg a.nxt:hover:after {
    border-color: transparent var(--t-dark) var(--t-dark) transparent;
}

/* endregion 分页小条条 */

/* region 回复 */
.tedt .bar,
.tedt .area,
.tedt .pt {
    background: var(--bg-dark1);
}

.tedt .bar {
    border: 1px solid var(--bg-dark2);
}

/* endregion 回复 */
/* endregion 帖子 */