/*
 * 板块（帖子列表）
 * postList.css
 */
:root {
    --postList-title-text: var(--color500);
    --postList-breadcrumb-text: var(--color500);
}

/* region 板块 */

.subforum_left_title_left_down {
    color: var(--dark-accent);
}


#ct,
#ct .subforum_subject2.clearfix div,
#ct .subforum_subject2 .subforum_subject_detail_text_down .active a {
    color: var(--t-dark);
}

#ct,
#ct .mn,
#ct .subforum_subject.clearfix,
#ct .bmw,
#ct .bm_c,
#ct .subforum_subject2,
.forumrowdata,
.bm {
    background: var(--bg-dark2) !important;
}

.pbn {
    padding-bottom: unset;
}

#ct .tl .ts th,
#ct .tl .ts td {
    background: var(--bg-dark2);
    border-bottom: 1px solid var(--bg-dark1);
}

#ct .tl th,
#ct .tl td {
    border-bottom: 1px solid var(--bg-dark1);
}

#ct #threadlisttableid tr:hover {
    background: var(--bg-dark1) !important;
}

#ct .tl tr:hover th,
#ct .tl tr:hover td,
#ct .tl tr:hover th:hover,
#ct .tl tr:hover td:hover {
    background: var(--bg-dark1);
}

#ct #f_pst form,
.tedt {
    border: unset;
}

#fastposteditor .tedt .area textarea {
    color: var(--t-dark);
}

/* region 图片板块 */
#ct .waterfall li,
#ct .waterfall .c,
#ct .waterfall h3,
#ct .waterfall .auth {
    background: var(--bg-dark1) !important;
    border: unset;
}

#ct .waterfall .c .nopic {
    width: 214px !important;
    background: var(--t-dark);
    -webkit-mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABZklEQVRYR82XsU7DMBCGv4runZihD8ACL8AMMyx0AISoVPEASCCBkFjYGWChCxM7rLB3KaIbQ8XKBg8AOuRWJ9MkduzEzRJbie///N85sRskvhqJ9ZlLgPWKXXnW8bUDZ8B5xeIS/htYBd6lowEGwFoNACLxBGzYAD81iU9k/iavHcgCGAJvwE5kQCeAPaCvhGO6VAgwBtrWrG+Aw0hOFAKITgv4UoKvwEqdALIsX4ARsAVclxC/MlXfMzG8i7CE5nTIJXCaUUNOKQgRF7eOrAC6iCsFuAc6M+hrAXgAtjOsiwLwCSxmCOSJy5BgAMnbMiA/rl0Lokg8GGAfuFOiB8CJAXIRDwJ4BDZn2C6/1eOcnNtDSqXgA1gKWY+h3wGpaLE4xuXtwIUpuBji3jXgWlg+cF4O3AJdYAFomru07b5+VtTWG9JKP8UurvwDSL4pTb4tn9iW7GDikrfo78zl2TD6LPMC/gJ3D0whorNNWgAAAABJRU5ErkJggg==");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

/* endregion 图片板块 */

/* region 分页小条条 */
.pg strong {
    /*color: var(--white1);*/
    background-color: var(--bg-dark1);
}

#f_pst form {
    border-top: 5px solid var(--bg-dark1);
}

.pg a {
    color: var(--bg-dark1);
}

.pg a:hover {
    color: var(--t-dark);
}

.pg a.nxt:after {
    border-color: transparent var(--bg-dark1) var(--bg-dark1) transparent;
}

.pg a.nxt:hover:after {
    border-color: transparent var(--t-dark) var(--t-dark) transparent;
}

/* endregion 分页小条条 */

/* region 回复 */
.tedt .bar,
.tedt .area,
.tedt .pt {
    background: var(--bg-dark1);
}

.tedt .bar {
    border: 1px solid var(--bg-dark2);
}

/* endregion 回复 */

/* endregion 板块 */