/*
 * 变量配置
 */
:root {
    --md-btn-text: var(--color500);
    --md-btn-text-hover: var(--color500);
    --md-btn-text-acrive: var(--color500);

    --dark-accent: var(--color600);

    --bg-dark2: #151515;
    --bg-dark1: #222;
    --bg-dark3: #444;
    --bg-dark4: #777;

    --t-dark: #d6d6d6;

    --md-block-bg: var(--bg-dark2);
}