/*
 * 变量配置
 */
:root {
    --dark-accent: var(--color600);

    --bg-dark2: #151515;
    --bg-dark1: #222;
    --bg-dark3: #444;
    --bg-dark4: #777;

    --t-dark: #d6d6d6;

    --color500: var(--bg-dark2);
}