/*
 * 变量配置
 */
:root {
    --dark-accent: var(--blue500);

    --bg-dark1: #3a3a3a;
    --bg-dark2: #303030;
    --bg-dark3: #545454;
    --bg-dark4: #878787;

    --t-dark: #d6d6d6;

    --color500: var(--bg-dark2);
}