/*region 导航栏背景*/
#nav-menu {
    background: var(--color500);
    -webkit-box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

/*endregion*/

/*region 去掉中间logo*/
#nav-menu > ul > li.nav-logo,
#nav-menu > ul > li.nav-logo > a:after {
    display: none;
}

/*endregion*/

/* region 加大导航栏宽度*/
#nav-menu > ul > li {
    width: unset;
    margin-right: unset;
}

#nav-menu > ul > li > a {
    padding: 20px 20px;
}

#nav-menu > ul > li.has-sub > a {
    padding-right: 20px;
}

#nav-menu > ul > li.has-sub > a:after {
    display: none;
}

/*endregion*/

/*region 导航栏下拉菜单*/
#nav-menu > ul > li:after {
    background: var(--color300);
}

#nav-menu > ul > li > ul {
    padding: 8px 0;
    background: var(--color500);
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12)
}

#nav-menu > ul > li.has-sub > ul > li {
    background: var(--color500);
}

#nav-menu > ul > li.has-sub > ul > li:hover {
    background: var(--color300);
}

#nav-menu ul li ul li a {
    color: #333333;
    text-align: left;
    padding: 15px 20px;
}

#nav-menu > ul > li > ul,
#nav-menu ul li ul li a,
#nav-menu > ul > li > ul > li {
    min-width: 110px;
}

#nav-menu ul li ul li {
    border: unset;
}

/*endregion*/

/*region 搜索框*/
.search-bar {
    margin-top: 6px;
    padding-left: 15px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid var(--color300);
    transition: all .2s;
}

.search-bar:hover {
    background: var(--color300);
    /*-webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);*/
    /*box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)*/
}

.search-bar .search-bar-form,
.search-bar .search-box,
.search-bar .dropdown .btn {
    background: transparent;
}

.search-bar input::-webkit-input-placeholder {
    color: var(--white1);
}

.search-bar > img:first-child {
    display: none;
}

.search-bar button[type=submit] {
    display: none;
}

.search-bar .dropdown .btn {
    color: var(--white1);
    border: none;
    outline: medium;
}

.search-bar .search-bar-form {
    position: relative;
}

.search-bar .search-box {
    outline: medium;
    border: none;
}

/*endregion*/

/*region 导航栏和头像搜索框合并一行*/
#nav-menu.align-center > ul {
    margin-left: -420px;
}

.tb-container {
    height: 0;
    margin: 0 auto;
}

#nav-additional {
    margin-top: -37px;
    padding-left: calc(1170px - 420px);
    text-align: right;
}

#nav-search-bar,
#nav-user-action-bar {
    float: unset !important;
    display: inline-block;
    position: relative;
    margin-top: -68px;
    z-index: 20;
}

/*endregion*/

/* region 有消息时的消息*/
#nav-user-action-bar *,
.btn-user-action * {
    animation: unset !important;
}

#nav-additional .badge {
    margin: unset !important;
    background-color: transparent !important;
    padding: 0 0 0 5px;
    top: -2px !important;
}

#nav-user-action-bar .btn.btn-user-action {
    transition: all .2s;
    border-radius: 2px;
    color: var(--white1);
}

#nav-user-action-bar .btn.btn-user-action:hover {
    background-color: var(--color300);
}

/* endregion*/

/* region 头像弹出菜单*/
#nav-user-action-bar .dropdown-menu.dropdown-menu-right {
    border-radius: 3px;
    background: var(--color500);
    border: 0;
    -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
}

#nav-user-action-bar .divider {
    margin: 5px 0;
    background: var(--color700);
}

#nav-user-action-bar .dropdown-menu.dropdown-menu-right a {
    text-align: left;
    font-size: 13px;
    padding: 10px 20px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: var(--color300);
}

/* endregion*/

/* region 滚动到顶部*/

#J_ScrollTopBtn {
    border-radius: 50%;
    background-size: 70% !important;
    background-color: var(--color500) !important;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAABeElEQVRoQ+2Y/00DMQyF35sARmAD2ADYADboCGwAbAATACN0AhgBNugIbGDkKidF1f1KbEvo5Pzbs5PvffG1KrGRxY1wIEH+m8k0kkaCEsirFRRsd9s00h1dUGEaCQq2u20a6Y4uqDCNBAXb3TaNrI1ORM4BPAI4kHxdW9f6XKgREbkC8AlAYXR9A7gl+dt60KXnw0BGIIazhMCEgMxAhMG4g0xA/AC4AHBWXRFXM64gInIH4K2aCT23QtwUkK8RmHuSh6UZWPrcDUREdgWi3vMIMQx3sXUKo4OvLwA11L1cQCYg9gB2p2+oAvMO4LI6tRnGDDIB8UFSDY2u8t2iZtxgPEA0zXqIZyEGsgmYPUmds+blAaLJXpedV0HMwDyTfGqmAOx/mZZkH8pPEL37TavUH68hyZem4uphs5Hejb3rEsQ7UWu/NGJN0Ls+jXgnau2XRqwJetenEe9Erf3SiDVB7/o04p2otV8asSboXZ9GvBO19tuMkT8NYmYzdoS1jgAAAABJRU5ErkJggg==") !important;
    -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);

    transition: all .2s ease-in-out;
}

#J_ScrollTopBtn:active {
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12) !important;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12) !important;
}

/* endregion*/
